<form class="password-form" [formGroup]="userForm" (ngSubmit)="generatePasswordForm()">
    <h1>Generador de Contraseñas</h1>
    
    <div>
        <label>Email</label>
        <input type="email" name="email" placeholder="ejemplo@correo.com" formControlName="email">

        @if(checkError('email', 'required')){
            <p class="error">Campo requerido</p>
        }
        @if(checkError('email', 'pattern')){
            <p class="error">Formato de email inválido</p>
        }

    </div>

    <div>
        <label>Username</label>
        <input type="text" name="username" placeholder="Tu usuario" formControlName="username">
    
        @if(checkError('username', 'required')){
            <p class="error">Campo requerido</p>
        }
        @if(checkError('username', 'minlength')){
            <p class="error"> Longitud minima de 3 caracteres</p>
        }

    </div>

    <button type="submit" [disabled]="userForm.invalid">Generar Contraseña</button>
</form>