<form class="password-form" [formGroup]="userForm" (ngSubmit)="generatePasswordForm()">
    <h1>Generador de Contraseñas</h1>
    
    <div>
        <label>Email</label>
        <input type="email" name="email" placeholder="ejemplo@correo.com" formControlName="email">
    </div>

    <div>
        <label>Username</label>
        <input type="text" name="username" placeholder="Tu usuario" formControlName="username">
    </div>

    <button type="submit" [disabled]="userForm.invalid">Generar Contraseña</button>
</form>